<div class="container">
  <div class="d-flex gap-3">
    <p class="fw-bold"><%= User.find(announcement.user_id).full_name %></p>
    <p class="text-secondary"><%= announcement.custom_time %></p>
  </div>
  <p><%= announcement.content %></p>
</div>