<h1 class="display-1 text-center">Proyecto 2</h1>
<ul class="registration-buttons text-center list-unstyled">
  <li><%= link_to 'LOG IN', new_user_session_path, class: 'btn btn-primary w-75 mb-3 mt-5' %></li> 
  <li><%= link_to 'SIGN UP', new_user_registration_path, class: 'btn btn-secondary w-75' %></li> 
</ul>
