<div class="container">
  <h1>Projecto 2</h1>
  <ul class="registration-buttons">
    <li><%= link_to 'LOG IN', new_user_session_path, class: 'btn btn-primary' %></li> 
    <li><%= link_to 'SIGN UP', new_user_registration_path, class: 'btn btn-secondary' %></li> 
  </ul>
</div>